src/resources/skin_schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="urn:nonstandard:resources" elementFormDefault="qualified" targetNamespace="urn:nonstandard:resources">
    <xsd:element name="Resources">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="spriteset">
                    <xsd:annotation>
                        <xsd:documentation>
A set of sprites.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element ref="skin" maxOccurs="unbounded"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="skin">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" ref="layer">
                    <xsd:annotation>
                        <xsd:documentation>
Main layers. From back to front.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
            <xsd:attribute name="name" type="nonEmptyString" use="required">
                <xsd:annotation>
                    <xsd:documentation>
The name of the skin, it will be used in the skin configuration window.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute default="7" name="keys" type="xsd:nonNegativeInteger">
                <xsd:annotation>
                    <xsd:documentation>
The number of keys.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute default="false" name="scratch" type="xsd:boolean">
                <xsd:annotation>
                    <xsd:documentation>
Use the scratch.
Boolean type {true|false}.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="judgment_line" type="xsd:nonNegativeInteger" use="required">
                <xsd:annotation>
                    <xsd:documentation>
The judgment line position. It has nothing to do with the sprite.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute default="800" name="width" type="xsd:nonNegativeInteger">
                <xsd:annotation>
                    <xsd:documentation>
Width of the skin.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute default="600" name="height" type="xsd:nonNegativeInteger">
                <xsd:annotation>
                    <xsd:documentation>
Height of the skin.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="spriteset">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" ref="sprite">
                    <xsd:annotation>
                        <xsd:documentation>
A sprite, can be used in multiples entities.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="sprite">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" ref="frame">
                    <xsd:annotation>
                        <xsd:documentation>
A frame of the sprite.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
            <xsd:attribute name="id" type="spriteIDPattern" use="required">
                <xsd:annotation>
                    <xsd:documentation>
The ID of the sprite. To be used in the entity sprite attribute.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="framespeed" type="xsd:decimal">
                <xsd:annotation>
                    <xsd:documentation>
The duration of the animation.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="alpha" type="xsd:boolean">
                <xsd:annotation>
                    <xsd:documentation>
Will the sprite use alpha something?
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="frame">
        <xsd:complexType>
            <xsd:attribute name="file" type="filePattern" use="required">
                <xsd:annotation>
                    <xsd:documentation>
The graphic file. Only jpg/jpeg or png.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="x" type="xsd:nonNegativeInteger">
                <xsd:annotation>
                    <xsd:documentation>
The position x in the graphic file.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="y" type="xsd:nonNegativeInteger">
                <xsd:annotation>
                    <xsd:documentation>
The position y in the graphic file.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="w" type="xsd:nonNegativeInteger">
                <xsd:annotation>
                    <xsd:documentation>
The width of the sprite in the graphic file.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="h" type="xsd:nonNegativeInteger">
                <xsd:annotation>
                    <xsd:documentation>
The height of the sprite in the graphic file.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="scale_x" type="xsd:decimal"/>
            <xsd:attribute name="scale_y" type="xsd:decimal"/>
            <xsd:attribute name="scale" type="xsd:decimal"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="layer">
        <xsd:complexType>
            <xsd:choice>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="entity">
                    <xsd:annotation>
                        <xsd:documentation>
An entity. Can use any sprite/s.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="styles">
                    <xsd:annotation>
                        <xsd:documentation>
A set of styles.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:choice>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="styles">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" ref="style">
                    <xsd:annotation>
                        <xsd:documentation>
A style.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
            <xsd:attribute name="id" type="nonEmptyString" use="required">
                <xsd:annotation>
                    <xsd:documentation>
The ID of the styles. It will be shown in the Skin configuration window.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="style">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" ref="entity">
                    <xsd:annotation>
                        <xsd:documentation>
An entity. Can use any sprite/s.
Style one.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
            <xsd:attribute name="id" type="nonEmptyString" use="required">
                <xsd:annotation>
                    <xsd:documentation>
The ID of the style. It will be shown in the Skin configuration window.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="entity">
        <xsd:complexType>
            <xsd:attribute name="id" type="entityID">
                <xsd:annotation>
                    <xsd:documentation>
ID. Optional.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="x" type="xsd:nonNegativeInteger">
                <xsd:annotation>
                    <xsd:documentation>
Position x in the skin.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="y" type="xsd:nonNegativeInteger">
                <xsd:annotation>
                    <xsd:documentation>
Position y in the skin.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="z-index" type="xsd:nonNegativeInteger">
                <xsd:annotation>
                    <xsd:documentation>
Position z in the skin.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="animation" type="xsd:NCName">
                <xsd:annotation>
                    <xsd:documentation>
Type of animation.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute> <!-- TODO -->
            <xsd:attribute name="fill_direction" type="fillsValues">
                <xsd:annotation>
                    <xsd:documentation>
Direction of the fill. Only used by  BAR entities.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="sprite" type="entitySprites" use="required">
                <xsd:annotation>
                    <xsd:documentation>
A sprite or a set of sprites. Use ,(comma) to separate them.
Ex:
sprite1, sprite2, ...
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="head" type="entitySprites">
                <xsd:annotation>
                    <xsd:documentation>
Only used in NOTE_x . The head of the longnote sprite. If null the "sprite" attribute sprite will be used.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="body" type="entitySprites">
                <xsd:annotation>
                    <xsd:documentation>
Only used in NOTE_x . The body of the longnote sprite. If null the "sprite" attribute sprite will be used.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="tail" type="entitySprites">
                <xsd:annotation>
                    <xsd:documentation>
Only used in NOTE_x . The tail of the longnote sprite. If null the "sprite" attribute sprite will be used.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="title" type="entitySprites">
                <xsd:annotation>
                    <xsd:documentation>
Only used in JAM_COUNTER and COMBO_COUNTER . The title of the counter. It will be centered over the numbers.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>

    <xsd:simpleType name="filePattern">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value=".+\.(([jJ][pP][eE]?[gG])|([pP][nN][gG]))"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="nonEmptyString">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="(\w+ *)+"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="spriteIDPattern">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="(([a-zA-Z_0-9]+){1})" />
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="entitySprites">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="((([a-zA-Z_]+_[0-9]\s{0,},{1}\s{0,}){9}([a-zA-Z_]+_[0-9]){1}){1})"/>    <!-- counters numbers (10 sprites: name_n) or -->
            <xsd:pattern value="(([a-zA-Z_0-9]+){1})" />                                                <!-- a single sprite -->
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="fillsValues">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="left_to_right"/>
            <xsd:enumeration value="right_to_left"/>
            <xsd:enumeration value="up_to_down"/>
            <xsd:enumeration value="down_to_up"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="entityID">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="NOTE_1"/>
            <xsd:enumeration value="NOTE_2"/>
            <xsd:enumeration value="NOTE_3"/>
            <xsd:enumeration value="NOTE_4"/>
            <xsd:enumeration value="NOTE_5"/>
            <xsd:enumeration value="NOTE_6"/>
            <xsd:enumeration value="NOTE_7"/>
            <xsd:enumeration value="NOTE_SC"/>
            <xsd:enumeration value="MEASURE_MARK"/>
            <xsd:enumeration value="JUDGMENT_LINE"/>
            <xsd:enumeration value="EFFECT_JUDGMENT_PERFECT"/>
            <xsd:enumeration value="EFFECT_JUDGMENT_COOL"/>
            <xsd:enumeration value="EFFECT_JUDGMENT_GOOD"/>
            <xsd:enumeration value="EFFECT_JUDGMENT_BAD"/>
            <xsd:enumeration value="EFFECT_JUDGMENT_MISS"/>
            <xsd:enumeration value="EFFECT_LONGFLARE"/>
            <xsd:enumeration value="EFFECT_CLICK"/>
            <xsd:enumeration value="PRESSED_NOTE_1"/>
            <xsd:enumeration value="PRESSED_NOTE_2"/>
            <xsd:enumeration value="PRESSED_NOTE_3"/>
            <xsd:enumeration value="PRESSED_NOTE_4"/>
            <xsd:enumeration value="PRESSED_NOTE_5"/>
            <xsd:enumeration value="PRESSED_NOTE_6"/>
            <xsd:enumeration value="PRESSED_NOTE_7"/>
            <xsd:enumeration value="PRESSED_NOTE_SC"/>
            <xsd:enumeration value="FPS_COUNTER"/>
            <xsd:enumeration value="COUNTER_JUDGMENT_PERFECT"/>
            <xsd:enumeration value="COUNTER_JUDGMENT_COOL"/>
            <xsd:enumeration value="COUNTER_JUDGMENT_GOOD"/>
            <xsd:enumeration value="COUNTER_JUDGMENT_BAD"/>
            <xsd:enumeration value="COUNTER_JUDGMENT_MISS"/>
            <xsd:enumeration value="MAXCOMBO_COUNTER"/>
            <xsd:enumeration value="SCORE_COUNTER"/>
            <xsd:enumeration value="JAM_COUNTER"/>
            <xsd:enumeration value="COMBO_COUNTER"/>
            <xsd:enumeration value="MINUTE_COUNTER"/>
            <xsd:enumeration value="SECOND_COUNTER"/>
            <xsd:enumeration value="COMBO_TITLE"/>
            <xsd:enumeration value="JAM_TITLE"/>
            <xsd:enumeration value="PILL_1"/>
            <xsd:enumeration value="PILL_2"/>
            <xsd:enumeration value="PILL_3"/>
            <xsd:enumeration value="PILL_4"/>
            <xsd:enumeration value="PILL_5"/>
            <xsd:enumeration value="LIFE_BAR"/>
            <xsd:enumeration value="JAM_BAR"/>
            <xsd:enumeration value="TIME_BAR"/>
	    <xsd:enumeration value="BGA"/>
        </xsd:restriction>
    </xsd:simpleType>
</xsd:schema>